body {
    margin: 50px;
    padding: 0;
    background-color: #88ADDF;
    font-weight: 100;
}

h1 {
    color: #FFF;
    text-align: center;
}

.container {
    position: relative;
    margin: 0 auto;
    width: 1560px;
}

.thumb {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 50px;
    width: 680px;
    height: 500px;
}

.cube {
    width: 680px;
    height: 500px;
    background-color: #fff;
}
.cube1 {
    width: 680px;
    height: 500px;
    background-color: #fff;
}

/*.alt {
    position: absolute;
    top: 0;
    left: -100%;
    background-color: #88ADDF;
}*/